<!DOCTYPE html>
<html>
<head>
    <title>WG API</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <script src="/js/jquery-2.1.1.min.js" > </script>
    <script src="/js/renderTable.js" > </script>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li class="active user_name"> <p class="navbar-text"> <a href="http://worldoftanks.ru/community/accounts/<%= user_id %>" > <%= nickname %> </a>  </p> </li>
            <li id="exit-btn"><a href="/logout" id="exit-btn"  class=" btn btn-primary btn-xs"> Exit </a></li>
        </ul>
    </div>
</div>


<table class="table table-bordered" id="users_stats_table" >
    <thead id="users_stats_head" ></thead>
    <tbody id="users_stats_body" ></tbody>
</table>

<div class="loader-wrapper" id="loader-wrapper" >
    <span class="loader"></span>
    <span id="status_mesage"> Загрузка таблицы </span>
</div>



</body>
</html>