<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>

        body, html {
            height: 100%;
            width: 100%;
        }


        .user_menu li{
            float: left;
            list-style-type: none;
        }

        #exit-btn {
            color: #ffffff;
            font-size: 16px;
        }

        #exit-btn:hover {
            color: #000000;
        }

        #users_stats {
            display: none;
            width: 100%;
            min-width: 900px ;
        }


        .loader-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .loader {
            width: 56px;
            height: 54px;
            background-image: url("download.gif");
        }

        .user_name {
            text-align: center;
        }





    </style>
    <title></title>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li class="active user_name"> <p class="navbar-text"> <%nickname%> </p> </li>
            <li id="exit-btn"><a href="/logout" id="exit-btn"  class=" btn btn-primary btn-xs"> Exit </a></li>
        </ul>
    </div>
</div>


<table class="table table-bordered" id="users_stats" >
    <thead id="users_stats_head" ></thead>
    <tbody id="users_stats_body" ></tbody>
</table>

<div class="loader-wrapper">
    <span class="loader"></span>
    <span>Загрузка таблицы </span>
</div>




</body>
</html>