*{margin: 0; padding: 0;}

body, html {
    height: 100%;
    width: 100%;
}


.user_menu li{
    float: left;
    list-style-type: none;
}

#exit-btn {
    color: #ffffff;
    font-size: 16px;
}

#exit-btn:hover {
    color: #000000;
}

#users_stats_table {
    margin-top: 52px;
    display: none;
    width: 100%;
    min-width: 900px ;
    text-align: center;
}


.tank_name {
    text-align: left;
}
.current_player {
    color: red;
}





.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 56px;
    height: 54px;
    background-image: url("../images/download.gif");
}

.user_name {
    text-align: center;
}