* { margin: 0; padding: 0;}
html,body {
    width: 100%;
    height: 100%;
}


.loader {
    width: 56px;
    height: 54px;
    background-image: url("../images/download.gif");
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}



